<%- include('partials/header') %> 


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="text-decoration-none" href="/">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">About</li>
    </ol>
  </nav>

<h1>About</h1>
<p><%= aboutContent %></p>

<%- include('partials/footer') %> 
